body {
	font-family: 'Montserrat', sans-serif;
	background-color: grey;
	height: 80vh;
	background-color: black;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-transform: uppercase;
	font-size: 50px;
	color: white;
	font-weight: lighter;
	margin-top: 40px;
	margin-bottom: 40px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.yourname,
.youremail {
	margin-bottom: 5px;
	margin-top: 10px;
	display: block;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
}

.name-text {
	padding: 10px 10px;
}

.comment {
	background-color: whitesmoke;
	color: black;
	border-radius: 5px;
	outline: none;
	width: 400px;
	height: 400px;
	max-height: 400px;
	max-width: 400px;
	min-height: 400px;
	min-width: 400px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	transition: 0.5s;
}

.comment:hover {
	transition-property: background-color;
	cursor: text;
	background-color: #838c75;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.submit {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	transition: 1s;
	background-color: transparent;
	color: white;
}

.submit:hover {
	background-color: #6a4d37;
}

.btn-holder {
	text-align: center;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.socials i {
	font-size: 40px;
	margin-left: 20px;
	color: white;
	transition: 0.3s;
}

.socials i:hover {
	color: #838c75;
}

@media (max-width: 430px) {
	.comment {
		max-height: 300px;
		max-width: 300px;
		min-height: 300px;
		min-width: 300px;
	}
}

@media (max-width: 430px) {
	header {
		font-size: 35px;
	}
}
