@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
}

a {
  text-decoration: none;
}

body {
  /* position: relative; */
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  background-color:black;
  height: 100vh;
}

nav {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: lighter;
	background-color: black;
	z-index: 3;
}
nav a {
	color: white;
	margin-right: 40px;
}
nav a:hover {
	color: #838c75;
}

nav a.active {
	color: #838c75;
}

.fa-bars {
	color: white;
	font-size: 44px;
}

.btn a {
	text-decoration: none;
	color: #838c75;
}

header .hero-img {
	height: 100vh;
	background-image: url('../img/globe-black-small.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.header-contact {
  color: #fff;
  text-align: center;
}

.btn {
	position: absolute;
	top: 9rem;
	left: 1rem;
	color: white;
	transition: color 0.5s;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.btn h1 {
	font-size: 1.6rem;
	margin-bottom: 0.75rem;
}

.btn h2 {
	font-size: 1.4rem;
}

.btn:hover {
	color: #6a4d37;
}

.text {
	color: black;
	height: 50px;
	width: 500px;
	-webkit-animation: color 5s;
	animation: color 5s;
	text-transform: none;
	font-size: 25px;
}

.text-second {
	color: black;
	height: 40px;
	width: 480px;
	-webkit-animation: color 8s 0.3s;
	animation: color 8s 0.3s;
	text-transform: none;
	font-size: 20px;
}

#navbar {
	padding-top: 40px;
}

.postcard .slick-slide .slick-current .slick-active,
.slider .slick-initialized .slick-slider .slick-dotted,
.slick-track,
.slick-list .draggable,
.postcard .slick-slide,
form {
  border: none;
}

.postcard img {
  width: 95%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.slick-dots li button {
  border: 1px solid white;
  border-radius: 10px;
  background: white;
  width: 10px;
  height: 10px;
  margin: 4px auto;
}

.slick-dots li button:before {
  color: transparent;
}

.sendEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.postcard-heading {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.postcard-title {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

.postcard-main p {
  color: #fff;
  text-align: center;
}

.town-name {
  font-size: 2rem;
}

form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.form-postcards {
  margin-top: .5rem;  
}

input, 
textarea {
  padding: .75rem;
  width: 90%;
  margin: .5rem;
  border: 2px solid #965246;
  border-radius: 10px;
}

input,
textarea:active {
  border: 3px solid #965246;
}

textarea {
  height: 10rem;
}

input[type="checkbox"] {
  display: none;
}

.form-postcards label {
  display: block;
  position: relative;
  cursor: pointer;
  border: none;
}

label:before {
  background-color: transparent;
  color: white;
  content: " ";
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  border: none;
} 

label img {
  height: 2rem;
  width: 2rem;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label:before {
  content: "✓";
  transform: scale(3);
}


#sendButton,
.sendBtn,
#button-quiz,
.button-next,
.restart,
.quit {
  padding: 15px;
  font-size: 20px;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #965246;
  color: #fff;
  border: none;
  font-weight: bold;
}

.restart,
.quit {
  background-color: #3e4b34;
}

.restart:hover,
.quit:hover {
  background-color: #fff;
  color: #3e4b34;
}

.sendBtn {
  margin-top: 1rem;
}

#button-quiz {
  margin-top: 1rem;
}

#sendButton:hover,
#button-quiz:hover,
.sendBtn:hover {
  background-color: #fff;
  color: #965246;
}

#send_form_status{
  padding: 0 10px; 
  margin: 10px 0;
  color: #5a7b41;
  text-align: center;
}

.error {
  color: #965246;
}

.contact-main {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.socials a {
  color: #965246;
}

.socials i {
  font-size: 1.5rem;
}

.socials i:hover {
  color: #fff;
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
  .postcard img {
    width: 65%;
  }

  .form-input,
  .form-textarea {
    width: 65%;
    margin: 0 auto;
  }

  label:before {
    left: 9rem;
  }

  .contact-main {
    height: auto;
  }

  #contact_form {
    width: 75%;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  label:before {
    left: 12rem;
    top: 3rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  #contact_form {
    width: 75%;
  }

  .socials i {
    font-size: 2.5rem;
  }

  .socials {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  label:before {
    left: 6rem;
    top: 5rem;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 600px) {
  label:before {
    left: 16rem;
    top: 4rem;
    font-size: 2rem;
  }

  #contact_form {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .contact-main {
    height: 90%;
  }
}


@media (min-width: 1200px) {
	header .hero-img {
		background-image: url('../img/globe-large-black.jpg');
	}
}
